element.style {
}
@media screen and (max-width: 768px) {
    .mobile_width {
        padding: 10px;
    }
}
.mt-12 {
    margin-top: 12px !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    position: relative;
    margin: 0;
    padding-bottom: 135px;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}
body {
    font-size: 14px;
    position: relative;
    margin: 0;
    padding-bottom: 4rem;
    min-height: 100%;
}
body {
    font-size: 14px;
}
body {
    font-family: 'Roboto';
}
body {
    font-family: 'latoregular';
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
style attribute {
    --primary-color: #000000;
    --primary-gradient: #F8cb46;
}
:root {
    --primary-color: #1676e2;
    --primary-gradient: linear-gradient(73deg, #115eb4, #1676e2, #1aa5c9);
    --primary-shadow: 0 16px 20px 0 rgba(22, 118, 226, 0.3), 0 6px 10px 0 rgba(22, 118, 226, 0.3);
    --third-blue: #2196f3;
}
:root {
    --primary-color: #1676e2;
    --primary-gradient: linear-gradient(73deg, #115eb4, #1676e2, #1aa5c9);
    --primary-shadow: 0 16px 20px 0 rgba(22, 118, 226, 0.3), 0 6px 10px 0 rgba(22, 118, 226, 0.3);
    --third-blue: #2196f3;
}
:root {
    --primary-color: #1676e2;
    --primary-gradient: linear-gradient(73deg, #115eb4, #1676e2, #1aa5c9);
    --primary-shadow: 0 16px 20px 0 rgba(22, 118, 226, 0.3), 0 6px 10px 0 rgba(22, 118, 226, 0.3);
    --third-blue: #2196f3;
}
:root {
    --primary-color: #1676e2;
    --primary-gradient: linear-gradient(73deg, #115eb4, #1676e2, #1aa5c9);
    --primary-shadow: 0 16px 20px 0 rgba(22, 118, 226, 0.3), 0 6px 10px 0 rgba(22, 118, 226, 0.3);
    --third-blue: #2196f3;
}
:root {
    --primary-color: #1676e2;
    --primary-gradient: linear-gradient(73deg, #115eb4, #1676e2, #1aa5c9);
    --primary-shadow: 0 16px 20px 0 rgba(22, 118, 226, 0.3), 0 6px 10px 0 rgba(22, 118, 226, 0.3);
    --third-blue: #2196f3;
}
:root {
    --primary-color: #1676e2;
    --primary-gradient: linear-gradient(73deg, #115eb4, #1676e2, #1aa5c9);
    --primary-shadow: 0 16px 20px 0 rgba(22, 118, 226, 0.3), 0 6px 10px 0 rgba(22, 118, 226, 0.3);
    --third-blue: #2196f3;
}
:root {
    --primary-color: #1676e2;
    --primary-gradient: linear-gradient(73deg, #115eb4, #1676e2, #1aa5c9);
    --primary-shadow: 0 16px 20px 0 rgba(22, 118, 226, 0.3), 0 6px 10px 0 rgba(22, 118, 226, 0.3);
    --third-blue: #2196f3;
}
:root {
    --primary-color: #1676e2;
    --primary-gradient: linear-gradient(73deg, #115eb4, #1676e2, #1aa5c9);
    --primary-shadow: 0 16px 20px 0 rgba(22, 118, 226, 0.3), 0 6px 10px 0 rgba(22, 118, 226, 0.3);
    --third-blue: #2196f3;
}
:root {
    --dt-row-selected: 13, 110, 253;
    --dt-row-selected-text: 255, 255, 255;
    --dt-row-selected-link: 9, 10, 11;
    --dt-row-stripe: 0, 0, 0;
    --dt-row-hover: 0, 0, 0;
    --dt-column-ordering: 0, 0, 0;
    --dt-html-background: white;
}
html {
    font-family: roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #fff;
    color: #2a333e;
    height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #fff;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
}